# Session 1 Homework

## Question 1

What's the version of NumPy that you installed?

_You can get the version information using the __version__ field_

In [1]:
import numpy as np

np.__version__

'1.20.3'

## Question 2

What's the version of Pandas?

In [2]:
import pandas as pd

pd.__version__

'1.2.4'

## Getting the data

For this homework, we'll use the same dataset as for the next session - the car price dataset.

Download it from [here](https://raw.githubusercontent.com/alexeygrigorev/mlbookcamp-code/master/chapter-02-car-price/data.csv).

You can do it with wget:

```shell
wget https://raw.githubusercontent.com/alexeygrigorev/mlbookcamp-code/master/chapter-02-car-price/data.csv
```

Or just open it with your browser and click "Save as...".

Now read it with Pandas.

In [4]:
!wget -O 04_homework_data.csv https://raw.githubusercontent.com/alexeygrigorev/mlbookcamp-code/master/chapter-02-car-price/data.csv

--2021-09-19 12:16:11--  https://raw.githubusercontent.com/alexeygrigorev/mlbookcamp-code/master/chapter-02-car-price/data.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.111.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.111.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1475504 (1.4M) [text/plain]
Saving to: ‘04_homework_data.csv’

04_homework_data.cs 100%[===================>]   1.41M  4.69MB/s    in 0.3s

2021-09-19 12:16:11 (4.69 MB/s) - ‘04_homework_data.csv’ saved [1475504/1475504]

In [5]:
df = pd.read_csv('04_homework_data.csv')
df.head()

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
0,BMW,1 Series M,2011,premium unleaded (required),335.0,6.0,MANUAL,rear wheel drive,2.0,"Factory Tuner,Luxury,High-Performance",Compact,Coupe,26,19,3916,46135
1,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Convertible,28,19,3916,40650
2,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,High-Performance",Compact,Coupe,28,20,3916,36350
3,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Coupe,28,18,3916,29450
4,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,Luxury,Compact,Convertible,28,18,3916,34500

## Question 3

What's the average price of BMW cars in the dataset?

In [7]:
df.loc[df['Make'] == 'BMW', 'MSRP'].mean()

61546.76347305389

## Question 4

Select a subset of cars after year 2015 (inclusive, i.e. 2015 and after). How many of them have missing values for Engine HP?

In [8]:
df_2015_later = df.loc[df['Year'] >= 2015]

df_2015_later['Engine HP'].isnull().sum()

51

## Question 5

Calculate the average "Engine HP" in the dataset.
Use the fillna method and to fill the missing values in "Engine HP" with the mean value from the previous step.
    Now, calcualte the average of "Engine HP" again.
    Has it changed?

Round both means before answering this questions. You can use the round function for that:

print(round(mean_hp_before))
print(round(mean_hp_after))

In [9]:
mean_hp_before = df['Engine HP'].mean()

df['Engine HP'] = df['Engine HP'].fillna(mean_hp_before)

mean_hp_after = df['Engine HP'].mean()

print('Before: Avg. Engine HP', round(mean_hp_before))
print('After: Avg. Engine HP', round(mean_hp_after))

Before: Avg. Engine HP 249
After: Avg. Engine HP 249

## Question 6

    Select all the "Rolls-Royce" cars from the dataset.
    Select only columns "Engine HP", "Engine Cylinders", "highway MPG".
    Now drop all duplicated rows using drop_duplicates method (you should get a dataframe with 7 rows).
    Get the underlying NumPy array. Let's call it X.
    Compute matrix-matrix multiplication between the transpose of X and X. To get the transpose, use X.T. Let's call the result XTX.
    Invert XTX.
    What's the sum of all the elements of the result?

Hint: if the result is negative, re-read the task one more time

In [10]:
df['Make'].value_counts()

Chevrolet        1123
Ford              881
Volkswagen        809
Toyota            746
Dodge             626
Nissan            558
GMC               515
Honda             449
Mazda             423
Cadillac          397
Mercedes-Benz     353
Suzuki            351
BMW               334
Infiniti          330
Audi              328
Hyundai           303
Volvo             281
Subaru            256
Acura             252
Kia               231
Mitsubishi        213
Lexus             202
Buick             196
Chrysler          187
Pontiac           186
Lincoln           164
Oldsmobile        150
Land Rover        143
Porsche           136
Saab              111
Aston Martin       93
Plymouth           82
Bentley            74
Ferrari            69
FIAT               62
Scion              60
Maserati           58
Lamborghini        52
Rolls-Royce        31
Lotus              29
Tesla              18
HUMMER             17
Maybach            16
McLaren             5
Alfa Romeo          5
Spyker              3
Bugatti             3
Genesis             3
Name: Make, dtype: int64

In [11]:
df_rolls_royce_cars = df.loc[df['Make'] == 'Rolls-Royce', ['Engine HP', 'Engine Cylinders', 'highway MPG']]
df_rolls_royce_cars.shape

(31, 3)

In [13]:
df_rolls_royce_cars= df_rolls_royce_cars.drop_duplicates()
df_rolls_royce_cars.shape

(7, 3)

In [14]:
X = df_rolls_royce_cars.values

XTX = X.T.dot(X)

XTX_inv = np.linalg.inv(XTX)

XTX_inv.sum()

0.03221232067748618

## Questions 7

    Create an array y with values [1000, 1100, 900, 1200, 1000, 850, 1300].
    Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w.
    What's the value of the first element of w?.

In [16]:
y = np.array([1000, 1100, 900, 1200, 1000, 850, 1300])
w = XTX_inv.dot(X.T).dot(y)
w[0]

0.19989598183195006